.icons {
	width: 184px;
	margin-right: 80px;
}

.icon-text {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 30.32px;
	color: whitesmoke;
	margin-bottom: 18px;
}

.icon-social {
	display: flex;
	gap: 16px;
}

.icon {
	border-radius: 50%;
	padding: 11px;
	background: #1c140f;
	box-shadow: 0px 4px 14px 0px #00000026;
	color: white;
}

.line {
	width: 102px;
	height: 1px;
	border: 1px solid #ffffff;
	border-radius: 1px;
	transform: rotate(90deg);
}

.call {
	display: flex;
	align-items: center;
	gap: 25px;
	color: white;
}

.call span {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}

.location {
	display: flex;
	align-items: start;
	gap: 19px;
}

.location span {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	width: 325px;
	color: white;
}

@media (max-width: 1154px) {
	.world-map-bottom {
		gap: 50px;
	}
}

@media (max-width: 878px) {
	.world-map-bottom {
		flex-direction: column;
		align-items: center;
	}
	.line {
		transform: rotate(180deg);
	}

	.icons {
		width: 100%;
		margin-right: 0;
	}
	.icon-text {
		text-align: center;
	}

	.icon-social {
		justify-content: center;
	}

	.call {
		width: 100%;
		justify-content: center;
	}

	.location {
		flex-direction: column;
		align-items: center;
	}

	.location span {
		text-align: center;
	}
	}

@media (max-width: 417px) {
	.location span {
		width: 200px;
	}
}

@media (max-width: 302px) {
	.call {
		flex-direction: column;
	}
}
