 @import url(https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap);

.response__card {
  padding: 64px 37px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 94px 0px rgba(0, 0, 0, 0.15);
}
.response__card--text1 {
  padding: 7px 35px 6px 14px;
  margin-bottom: 19px;
  border-radius: 8px;
  background: rgba(176, 0, 220, 0.11);
  font-family: Poppins;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.response__card--title {
  margin-bottom: 16px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.response__card--text2 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

/* team */
.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 80px 30px;
  background: rgba(28, 20, 15, 1);
  border-radius: 20px;
}
.team__card--title {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 600;
  line-height: 38.48px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.team__card--text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 32.4px;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}

/* services */

.info__card--services {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 38px;
  border-radius: 10px;
  position: relative;
  padding: 52px 100px ;
  background: #1c140f;
}
.info__card--services::before {
  position: absolute;
  right: 0;
  content: "";
  clear: both;
  display: inline-block;
  width: 2px;
  height: 125px;
  background-color: #fff;
}


.info__card--services:nth-child(3)::before {
  height: 0;
  width: 0;
  border: none;
}
.info__card--right h2 {
  margin-bottom: 5px;
  font-family: Rubik;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
.info__card--right p {
  margin-bottom: 0;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  text-align: left;
}

 @media screen and (max-width: 1200px){
  .info__card--services{
    width: 48%;margin-bottom: 20px;
  }
  .info__card--services::before {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 800px){
  .info__card--services{
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 540px){
  .info__card--services{
  padding: 30px 50px !important;
  gap: 30px;
  }
}

@media screen and (max-width: 420px){
  .info__card--services{
  padding: 20px 30px !important;
  gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .team__card {
    padding: 35px 50px 30px;
  }
}
@media screen and (max-width: 300px) {
  .team__card {
    padding: 15px 30px 10px;
  }
}
